body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background:linear-gradient(45deg,#1c4780 ,#000);
    color: #fff;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}


.logo img{
    width:40px;
    height: 40px;
    margin-right: 10px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    cursor: pointer;

}



.nav a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav a:hover{
    color: #04ffffbb;
    transform: scale(1.2);
}

main{
    padding: 50px 20px;

}

.conteudo{
    max-width: 50%;

}

.conteudo h1{
    font-size: 40px;
    text-shadow: 1px 1px #000;
}

.conteudo h1 span{
    color: #04d9ff;
}

.conteudo p{
    color: #fff;
    line-height: 1.5;
    
}

.form-group{
    margin-top: 20px;
}

.form-group input{
    padding: 15px;
    background-color: #2e2e3a;
    border-radius: 30px;
    color: #fff;
    border: 2px solid #333;
    width: 70%;
}

.form-group input:hover{
    border: 1px solid #2d6cbd;
}
.form-group input:focus{
    outline: none;
    border: 2px solid #04ffffbb;
    background-color: #161515;
    box-shadow: 2px 5px 10px #000;
    
    
}
.form-group input::placeholder{
    color: #fff;
}

.form-group input:focus::placeholder{
    color: transparent;
}

.form-group button{
    padding: 15px 40px;
    background-color: #04ffffbb;
    border-radius: 30px;
    color: #fff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.form-group button:hover{
    background-color: #16a0a0bb;
    transform: scale(1.2);
}

.image-container{
    max-width: 40%;
    position: relative;
}

.image-container img{
    width: 100%;
    border-radius: 20px;
}

.ellipse{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg,#04ffffbb,transparent);
    position: absolute;
    top: 20%;
    left: -10%;
    z-index: -1;
}


@media (max-width: 576px) {
   .image-container{
    display:  none;
   }
   .container{
    text-align: center;
    justify-content: center;
   }
   .conteudo{
    max-width: 70%;
    margin: 0 auto;

}
.container{
    display: block;
}
.nav{
    justify-content: center;

}

.logo{
    justify-content: center;
    margin-bottom: 10px;
}


}

